*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

body,
html {
  min-height: 100%;
  position: relative;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.colored {
  color: #2e2f42;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
}

.nav-list {
  display: inline-flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:first-of-type .nav-list-item-link {
  color: #404bbf;
}

.nav-list-item-link::after {
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  visibility: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover::after,
.nav-list-item-link:focus::after {
  visibility: visible;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-right: 0;
}

.address-list {
  display: flex;
  padding: 24px 0;
}

.address-list-item:first-child {
  margin-right: 40px;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.preinfo {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
}

.preinfo-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.preinfo-button {
  display: block;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preinfo-button:hover,
.preinfo-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  justify-content: space-between;
  row-gap: 24px;
}

.about-list-item {
  line-height: 1.5em;
  width: calc((100% - 24px * 3) / 4);
  margin-left: 0;
}

.about-list-item:last-child {
  margin-right: 0;
}

.about-list-item-box {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list-item-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-list-item-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-content {
  padding: 32px 0;
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-list-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.portfolio-list-item-photo {
  position: relative;
  overflow: hidden;
}

.portfolio-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 40px 32px;
  margin-right: 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  margin-top: 1px;
}

.portfolio-list-item:hover .portfolio-list-item-photo .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-list-item {
  background-color: #fff;
  row-gap: 24px;
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-list-item:nth-child(3),
.portfolio-list-item:last-child {
  margin-right: 0;
}

.portfolio-list-item:first-child,
.portfolio-list-item:nth-child(4) {
  margin-left: 0;
}

.portfolio-list-item:first-child,
.portfolio-list-item:nth-child(2),
.portfolio-list-item:nth-child(3) {
  margin-bottom: 48px;
}

.portfolio-list-item-content {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.portfolio-list-item-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-left: 0;
  margin-bottom: 8px;
}

.portfolio-list-item-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-left: 0;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 120px;
  width: 264px;
}

.footer .logo-link {
  display: inline-block;
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
  margin-left: 0;
}

.footer .colored {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-left: 0;
}

.footer-social {
  width: 208px;
  margin-left: 0;
  margin-right: 80px;
}

.footer-social-text {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .social-list {
  gap: 16px;
}

.footer .social-list .social-list-item-link:hover,
.footer .social-list .social-list-item-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-form-label {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 16px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-form-button {
  display: block;
  min-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}

.footer-form-icon {
  margin-left: 16px;
  margin-bottom: -3px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list .social-list-item-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-list-item-link:hover,
.social-list .social-list-item-link:focus {
  background-color: #404bbf;
}

.social-list .social-list-item-icon {
  fill: #f4f4fd;
}

.modal {
  min-width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
}

.modal-wrap {
  position: relative;
  padding: 72px 24px 24px 24px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.form-group-title {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #8e8f99;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  margin-left: 0;
  position: relative;
}

.form-label > .form-label-icon {
  position: absolute;
  top: 25px;
  left: 16px;
}

.form-label-icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  padding-left: 38px;
  color: #2e2f42;
  outline: none;
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-checkbox {
  color: #8e8f99;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.form-label-link {
  text-decoration: underline;
  color: #4d5ae5;
  margin-left: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-link:hover {
  color: blue;
  text-decoration: none;
}

.form-label-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-checkbox:checked + .form-label-checkbox .form-label-box {
  background-color: #404bbf;
  border: none;
  fill: f4f4fd;
}

.form-input:focus-within,
.form-textarea:focus-within {
  border: 1px solid #4d5ae5;
}

.form-label:focus-within .form-label-icon {
  fill: #4d5ae5;
}

textarea {
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-top: 8px;
  padding-left: 16px;
  outline: none;
  margin-bottom: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: block;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}
